@media (min-width: 360px) or (orientation: landscape) {
  .swiper-slide {
    width: auto;
    height: 70vh;
  }

  /* .swiper-slide__content .img {
    width: 360px;
  } */
}

@media (max-width: 1400px) {

}

@media (max-width: 1300px) {

  .modal__swiper-block {
    max-width: 952px;
    max-height: 588px;
  }
}

@media (max-width: 1100px) {

}

@media (max-width: 900px) {
  .container {
    padding: 10px 20px;
  }

  .circular-menu__link {
    font-size: 16px;
  }

  .circular-menu__item:hover .circular-menu__link {
    font-size: 20px;
  }

  .circular-menu__title {
    font-size: 30px;
  }

  .circular-menu__button:hover .circular-menu__title {
    font-size: 40px;
  }

  .title {
    font-size: 30px;
  }

  .swiper-slide {
    width: 85vw;
  }
}

/* @media (max-width: 730px) {
  .container {
    padding: 10px 20px;
  }

  .circular-menu__link {
    font-size: 16px;
  }

  .circular-menu__item:hover .circular-menu__link {
    font-size: 20px;
  }

  .circular-menu__title {
    font-size: 30px;
  }

  .circular-menu__button:hover .circular-menu__title {
    font-size: 40px;
  }

  .title {
    font-size: 30px;
  }

} */

@media (max-width: 480px) {
  .circular-menu__link {
    font-size: 12px;
  }

  .circular-menu__item:hover .circular-menu__link {
    font-size: 14px;
  }

  .circular-menu__title {
    font-size: 20px;
  }

  .circular-menu__button:hover .circular-menu__title {
    font-size: 24px;
  }

  .title {
    font-size: 24px;
  }

  .swiper-slide {
    width: 80vw;
  }

  /* .swiper-slide__content .img {
    max-width: 360px;
    width: 100%;
    height: auto;
  } */

}
